body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

header {
    background: linear-gradient(rgba(0,0,100,0.2),rgba(0,0,100,0.2)),url(../image/backg/products.jpg);
    background-size: cover;
    background-position: center;
    background-position: bottom;
    height: 60vh;
}

nav {
    position: fixed;
    width: 100%;
    line-height: 60px;
}

nav ul {
    float: right;
    padding-right: 42px;
}

nav ul li {
    display: inline-block;
    padding: 16px 32px;
}

nav ul li a {
    padding: 3px 7px;
/*    text-decoration: none;*/
    color: #fff !important;
    font-size: 19px;
    border-radius: 3px;
}

a.active, a:hover {
/*    text-decoration: none;*/
    /*background: #88717f;*/
    transition: .5s;
}

.checkbtn {
    font-size: 30px;
    color: #fff;
    float: right;
    padding: 16px 32px;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
        display:none;
}

#check {
    display: none;
}



.logo {
    height: 48px;
    float: left;
    margin: 16px 48px;
}

h1 {
    font-size: 48px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    text-align: center;
    /*padding-top: 350px;*/
    color: #fff;
}

h2 {
    font-size: 48px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    text-align: center;
}

nav.black {
    background: #000;
    z-index: 3;
}

@media(max-width: 952px) {
    label.logo {
        font-size: 30px;
        padding-left: 50px;
    }

    nav ul li a {
        font-size: 16px;
    }
}

@media(max-width:1060px) {
    .checkbtn {
        display: block;
    }

    ul {
        position:fixed;
        width: 100%;
        height:60vh;
        background:#000;
        top:80px;
        right:-100%;
        text-align:center;
        transition:all .5s;
    }

    nav ul li {
        display: block;
        margin: 20px 0;
        line-height: 30px;
    }

    nav ul li a {
        font-size: 20px;
    }

    a:hover, a.active {
        background: none;
        color: #0082e6;
    }

    #check:checked ~ ul{
        right:0%;
    }
}


